@charset "UTF-8";

@media screen and (min-width: 800px) {
    #burger {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #menu1 {
        display: flex;
    }

}

@media screen and (max-width: 800px) {
    #tec {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #conteudo {
        font-size: 0.6em;
        padding-top: 0px;
    }
}

@media screen and (max-width: 800px) {
    #conteudo h1 {
        padding-top: 70px;
    }
}




