@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #252525;
    width: 100vw;
}

header {
    background-color: rgb(52, 52, 52);
    height: 70px;
    width: 100vw;
    margin-top: 0px;
}

header h1 {
    color: rgb(144, 255, 116);
    background-color:  rgb(52, 52, 52);
    font-family: 'Bebas Neue';
    margin-left: 30px;
    padding-top: 12px;
    display: inline-block;
    text-shadow: 3px 3px 4px black;
    
}

header li a {
    color: white;
}

header > h1 > a {
    color: greenyellow;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header > ul {
    list-style: none;
    display: none;
} 

header > ul > li {
    margin-left: 50px;
    
}

header > ul > li > a {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    text-shadow: 2px 2px 4px black;
}

header > ul > li > a:hover {
    font-size: 1.6em;
    color: greenyellow;
}

nav > menu > ul{
    display: block;
   text-align: center;
    justify-content: space-around;
}

nav > menu > ul > li{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    list-style-type: none;
    background-color: gray;
    border: 1px solid rgb(232, 232, 232);
    width: 99vw;
    font-family: 'Bebas Neue';
    font-size: 1.5em; 
}

nav > menu > ul > li > a {
    color: white;
    text-shadow: 1px 1px 3px black;
}

nav > menu > ul > li > a:hover {
    background-color: transparent;
    color: greenyellow;
}

#burger {
    color: white;
    display: block;
    text-align: center;
    width: 5vw;
    font-size: 30px ;
}

#burger:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul > li > a {
    color: rgb(145, 145, 145);
}

menu > ul > li > a:hover {
    background-color: rgb(255, 255, 255);
    color: white;

}

main {
    background-image: url(/Imagens/wpp.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}

